body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page{
  width: 841px;
  height: 567px;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 50px;
  position: relative;
  
}

.top{
  position: absolute;
  display: flex; 
  right: 60px;
  top: 30px;
  border-radius: 50%;
  
}

.bottom{ 
  position: absolute;
  display: flex;
  bottom: 20px; 
  left: 50px;
}
.container{
  overflow: hidden;
  margin: 100px auto;
  width: 594px;
  height: 375px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(143, 137, 137);
  box-shadow: 1px 5px rgb(143, 137, 137);
  backdrop-filter: blur(10px);
}

.main{
  display: flex;
}

.contact{
  background-color: aliceblue;
  width: 200px;
  height: 375px;
  margin: auto 10px auto -50px;
  border: 2px solid rgb(143, 137, 137);
  padding-left:40px ;
}

.contact a{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.form{
  padding-left:70px;
}
.form h1{
  color: rgb(67, 72, 232);
  text-align: center;
}

form input{
  width: 200px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  }
form .message{
  height: 100px;
}

form a{
  margin: 70px;
}